@model IEnumerable<ContactWebApi.Contact>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Contact Details</h4>
    <hr />
    <table border="1" id="tblContacts" class="table" cellpadding="0" cellspacing="0">
        <tr>
            <th hidden="hidden" style="width:100px">ContactId </th>
            <th style="width:100px">First Name </th>
            <th style="width:150px">Last Name </th>
            <th style="width:150px">EmailId </th>
            <th style="width:150px">Phone </th>
            <th style="width:150px">Status</th>
            <th style="width:150px"></th>
        </tr>
        @foreach (Contact contact in Model)
        {
            <tr>
                <td hidden="hidden" class="ContactId">
                    <span>@contact.ContactId </span>
                </td>
                <td class="FirstName">
                    <span>@contact.FirstName </span>
                    <input type="text" value="@contact.FirstName " style="display:none" />
                </td>
                <td class="LastName ">
                    <span>@contact.LastName </span>
                    <input type="text" value="@contact.LastName " style="display:none" />
                </td>
                <td class="EmailId ">
                    <span>@contact.EmailId </span>
                    <input type="text" value="@contact.EmailId " style="display:none" />
                </td>
                <td class="Phone ">
                    <span>@contact.Phone </span>
                    <input type="text" value="@contact.Phone " style="display:none" />
                </td>
                <td class="Status ">
                    <span>@contact.Status </span>
                    <input type="text" value="@contact.Status " style="display:none" />
                </td>
                <td>
                    <a class="Edit" href="javascript:;">Edit</a>
                    <a class="Update" href="javascript:;" style="display:none">Update</a>
                    <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                    <a class="Delete" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </table>
    <hr />
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 150px">
                First Name<br />
                <input type="text" id="txtName" style="width:140px" />
            </td>
            <td style="width: 150px">
                Last Name:<br />
                <input type="text" id="txtLastName" style="width:140px" />
            </td>
            <td style="width: 150px">
                EmailId <br />
                <input type="text" id="txtEmailId" style="width:140px" />
            </td>
            <td style="width: 150px">
                Phone <br />
                <input type="text" id="txtPhone" style="width:140px" />
            </td>
            <td style="width: 150px">
                Status <br />
               
                <input type="text" id="RdbStatus" style="width:140px" />
            </td>
            <td style="width: 200px">
                <br />
                <input type="button" id="btnAdd" value="Add" />
            </td>
           
        </tr>
    </table>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        $(function () {
            //Remove the dummy row if data present.
            if ($("#tblContacts tr").length > 2) {
                $("#tblContacts tr:eq(1)").remove();
            } else {
                var row = $("#tblContacts tr:last-child");
                row.find(".Edit").hide();
                row.find(".Delete").hide();
                row.find("span").html('&nbsp;');
            }
        });
        function AppendRow(row, ContactId , firstname, lastname,email,phone ,status) {
            //Bind ContactId.
            $(".ContactId ", row).find("span").html(ContactId);

            //Bind Name.
            $(".FirstName ", row).find("span").html(firstname);
            $(".FirstName ", row).find("input").val(firstname);

            //Bind Country.
            $(".LastName ", row).find("span").html(lastname);
            $(".LastName ", row).find("input").val(lastname);

            //Bind Country.
            $(".EmailId  ", row).find("span").html(email);
            $(".EmailId  ", row).find("input").val(email);

            //Bind Country.
            $(".Phone  ", row).find("span").html(phone);
            $(".Phone  ", row).find("input").val(phone);

            //Bind Country.
            $(".Status  ", row).find("span").html(status);
            $(".Status  ", row).find("input").val(status);

            row.find(".Edit").show();
            row.find(".Delete").show();

            $("#tblContacts").append(row);
        };

        //Add event handler.
        $("body").on("click", "#btnAdd", function () {
            var txtName = $("#txtName");
            var txtLastName = $("#txtLastName");
            var txtEmailId = $("#txtEmailId");
            var txtPhone = $("#txtPhone");
            var txtStatus = $("#RdbStatus");
          
            var _contact = {};
            _contact.FirstName  = txtName.val();
            _contact.LastName = txtLastName.val();
            _contact.EmailId = txtEmailId.val();
            _contact.Phone = txtPhone.val();
            _contact.Status = txtStatus.val();
            $.ajax({
                type: "POST",
                url: "/api/AjaxAPI/InsertContact",
                data: JSON.stringify(_contact),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var row = $("#tblContacts tr:last-child");
                    if ($("#tblContacts tr:last-child span").eq(0).html() != "&nbsp;") {
                        row = row.clone();
                    }
                    AppendRow(row, r.ContactId, r.FirstName, r.LastName, r.EmailId, r.Phone, r.Status );
                    txtName.val("");
                    txtLastName.val("");
                    txtEmailId.val("");
                    txtPhone.val("");
                    txtStatus.val("");
                }
            });
        });

        //Edit event handler.
        $("body").on("click", "#tblContacts .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#tblContacts .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();
            var _contact = {};
            _contact.ContactId  = row.find(".ContactId ").find("span").html();
            _contact.FirstName  = row.find(".FirstName ").find("span").html();
            _contact.LastName  = row.find(".LastName ").find("span").html();
            _contact.EmailId  = row.find(".EmailId  ").find("span").html();
            _contact.Phone  = row.find(".Phone  ").find("span").html();
            _contact.Status  = row.find(".Status  ").find("span").html();
            $.ajax({
                type: "PUT",
                url: "/api/AjaxAPI/UpdateContact",
                data: JSON.stringify(_contact),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });

        //Cancel event handler.
        $("body").on("click", "#tblContacts .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("body").on("click", "#tblContacts .Delete", function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                var _contact = {};
                _contact.ContactId  = row.find("span").html();
                $.ajax({
                    type: "Delete",
                    url: "/api/AjaxAPI/DeleteContact",
                    data: JSON.stringify(_contact),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if ($("#tblContacts tr").length > 2) {
                            row.remove();
                        } else {
                            row.find(".Edit").hide();
                            row.find(".Delete").hide();
                            row.find("span").html('&nbsp;');
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
